asttokens==3.0.0
coverage==7.6.9
decorator==5.1.1
executing==2.1.0
gitdb==4.0.11
GitPython==3.1.41
iniconfig==2.0.0
ipython==8.31.0
jedi==0.19.2
matplotlib-inline==0.1.7
mypy==1.14.0
mypy-extensions==1.0.0
packaging==24.2
parso==0.8.4
pexpect==4.9.0
pluggy==1.5.0
prompt_toolkit==3.0.48
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.18.0
pytest==8.3.4
pytest-cov==6.0.0
pytest-mock==3.14.0
pytest-randomly==3.16.0
setuptools==69.0.3
smmap==5.0.1
stack-data==0.6.3
traitlets==5.14.3
typing_extensions==4.12.2
wcwidth==0.2.13
